#bloque_personajes{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: auto auto auto auto;
    gap: 10px;
    width: 100%;
}
.personaje {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto auto auto auto;
    border: 1px solid black;
    padding: 20px;
    justify-items: center;
}

.imgPersonaje{
    display: flex;
    justify-content: center;
    grid-column: 1 / 3;
    grid-row: 1;

}
.imgPersonaje img{
    width: 100px;
}
.h2Personaje{
    display: flex;
    justify-content: center;
    grid-column: 1 / 3;
    grid-row: 2;

}
.ataque1{
    grid-column: 1;
    grid-row: 3;
}
.ataque2{
    grid-column: 2;
    grid-row: 3;
}
.ataque3{
    grid-column: 1;
    grid-row: 4;
}
.ataque4{
    grid-column: 2;
    grid-row: 4;
}

#tituloPersonajes{
    grid-column: 1 / 4;
    text-align: center;
}
#personaje1 {
    grid-column: 1;
    grid-row: 2;
}

#personaje2 {
    grid-column: 2;
    grid-row: 2;
}

#personaje3 {
    grid-column: 3;
    grid-row: 2;
}

#personaje4 {
    grid-column: 1;
    grid-row: 3;
}

#personaje5 {
    grid-column: 2;
    grid-row: 3;
}

#personaje6 {
    grid-column: 3;
    grid-row: 3;
}
#botonPersonajes{
    grid-column: 2;
    grid-row: 4;
}
.tipo{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    border: 1px solid #fff;
}
.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.ataque {
    margin-bottom: 5px;
}

